.input-danger{
  border-radius: .25rem;
  border-color: #007bff!important;
  box-shadow:0 0 0 .2rem rgba(220,53,69,.5);
}

.input-success{
  border-radius: .25rem;
  border-color: #28a745!important;
  box-shadow:0 0 0 .2rem rgba(40,167,69,.5);
}
